<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descriction" content="aplicacion de proyecto colibri">
    <link rel="stylesheet" href="views/static/css/styles.css">
    <link rel="stylesheet" href="views/static/css/qs.css">
	<link rel="stylesheet" href="views/static/css/qs_movile.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- es para los logos de google icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!--  es para el logito -->
    <title>Colibrí</title>
    <link rel="icon" href="views/static/img/colibsinfondo.png">
</head>

    <body class="tipo1">
        <!-- menu -->
        <header class="black mayuscula">
            <link rel="icon" href="views/static/img/colibsinfondo.png">
        
    <div class="logo t15 tipo1">     
           
    <img src="views/static/img/colibsinfondo.png" width="70px" height="70px">
            Colibrí
    </div>

        <button id="abrir" class="menu_celu_abrir"><i class="fa-solid fa-bars"></i></button>

        <div class="menu t15" id="menu">

            <button class="menu_celu_cerrar" id="cerrar"><i class="fa-solid fa-x"></i></button>
            <ul class="lista black">
                <li class="black"><a href="notificame.html">Notifícame</a></li>
        </div>
    </header>
    

    <!-- inicio -->
    <div class="inicio">
        <div class="todo">
            <div class="titulo tipo1">
                <h1 class="t80 centrar tipo1">Proyecto Colibrí</h1>
                <a href="https://escuelarobertoarlt.com.ar/" class="black t20">E.E.S.T. N°3</a>
            </div>
            <!-- <img src="img/termo.png"> -->
        </div>
    </div>
    <h2>Implementaciones innovadoras para el medioambiente.</h2>
    <div class="objicono white">
		<div class="iconosobj">
			<div class="icono">
				<i class="fa-solid fa-recycle"></i>
				<h2 class="t20 mayuscula tipo1">Reciclar</h2>
				<p>Ayudamos a disminuir la contaminación provocada por botellas pet. Dándole un mejor futuro al plástico, creando
					objetos útiles.</p>
			</div>
			<div class="icono">
				<i class="grosorl fa-solid fa-lightbulb"></i>
				<h2 class="t20 mayuscula tipo1 ">Ahorrar</h2>
				<p>Al hacer techos vivos, ahorramos el consumo de energía. Funcionan como un aislante, disminuyendo el
					uso de
					aires acondicionados o estufas. </p>
			</div>
			<div class="icono">
				<i class="material-icons speed">speed</i>
				<h2 class="t20 mayuscula tipo1">Agilizar</h2>
				<p>Los recolectores urbanos, a través de la página de Colibrí podrán ver
					cuando y donde se encuentra llena una botella de acopio de plástico.</p>
			</div>
		</div>
	</div>

    <!-- que es colibri -->
    <div class="coli white">
        <div class="info_QueEs mayuscula">
            <h2 class="t40">Utilizamos tecnología</h2>
            <p class="t25">Ayudamos al medioambiente implementando tecnología.</p>
           <a href="mas/info.html" class="white t15">Más información</a>
        </div>
        <img src="views/static/img/esp8266.jpg" alt="botella">
    </div>

    <div class="info tipo1 white">
        <div class="card">
            <div class="card_division">
                <div class="informacion_de_img centrar">
                    <h3 class="mayuscula">Contaminación</h3>
                    <p>Las botellas constituyen un grave factor de contaminación. Si se incinera el plástico, se producen vapores tóxicos que contaminan el medio ambiente. Si se la tira a la basura, acaba en un vertedero y los compuestos pueden tardar siglos en degradarse.</p>
                </div>
                    <img src="views/static/img/contaminacion.jpg" alt="botella">
            </div>

            <div class="card_division reverse">

               

                <div class="informacion_de_img centrar">
                    <h3 class="mayuscula">Botella de hierro</h3>
                    <p>Contamos con una botella de acopio de plástico, que tiene un contador. El contador va recargando los datos en esta página para saber un aproximado de botellas plásticas que recibió y recuperar material.</p>
                </div>
                <img src="views/static/img/botellaexpo.jpg" alt="botella">

            </div>

            <div class="card_division">

                <div class="informacion_de_img centrar">
                    <h3 class="mayuscula">Techos verdes</h3>
                    <p>Con el plástico recuperado, en una termoformadora haremos macetas para realizar techos verdes. Los techos verdes con plantas nativas permiten moderar el exceso de temperatura, y aportan tanto para la conservación de biodiversidad.</p>
                </div>
                <img src="views/static/img/techoverde2.jpg" alt="botella">

            </div>

        </div>

    </div>

    <!-- <div class="separador"></div> -->
<div class="vacio">
</div>

    <div class="proyectos">
        <h2 class="proyectos-title">Proyectos</h2>
        <div class="card-row-proyectos">
            <div class="card-proyectos">
                    <img src="views/static/img/botellas (3).png">
                <h3>Contador de botellas</h3>
                <p>Aplicación que registra y contabiliza la cantidad de botellas recicladas para fomentar hábitos ecológicos.</p>
            </div>
            <div class="card-proyectos">
                    <img src="views/static/img/ciudadaire.jpg">
                <h3>Calidad del aire</h3>
                <p>Proyecto que muestra en tiempo real los niveles de contaminación del aire para concienciar sobre el ambiente.</p>
            </div>
            <div class="card-proyectos">
                    <img src="views/static/img/techoverde2.jpg">
                <h3>Techos verdes</h3>
                <p>Iniciativa que promueve la instalación de techos verdes en edificios para mejorar la sostenibilidad urbana y reducir el calentamiento.</p>
            </div>
        </div>

    </div>

    <div class="nosotros tipo1" id="nosotros">
        <div class="todo t45">
            <h2>Nosotros</h2>
            <div class="cudri_foto">
                <img src="views/static/img/emiliano.jpg">
                <img src="views/static/img/emanuel.jpg">
                <img src="views/static/img/maximo.jpg">
            </div>
        </div>
    </div> 

    <footer id="footer">
        <div class="participantes">
            <div class="white tipo1">
                <h3 class="t30" id="participantes">Equipo encargado</h3>
                <ul class="t20">
                    <li>Emiliano Decker</li>
                    <li>Emanuel Moreno</li>
                    <li>Maximo Sandoval</li>
                </ul>
                    <h3 class="t30">Contribuyentes del proyecto</h3>
                    <ul class= "t20">
                    <li>Cooperativa Malvinas Argentinas</li>
                    <li>Escuela Técnica N°3</li>
                    <li>Escuela Secundaria N°7</li>
                </ul>
                <div class="contacto">
                    <!-- <br><br> -->
                    <h3 class="t25" id="contac">Contactos</h3>
                    <p><a href="https://instagram.com/pro.colibri?igshid=MzRlODBiNWFlZA==" target="_blank"
                            class="tipo1 t19 white"><i class="fa-brands fa-instagram"></i> pro.colibri</a></p>
                    <p><a href="tel:+54 11-6867-2720" class="tipo1 t19 white"><i
                                class="fa-solid fa-phone tipo1 t19 white"></i> +54 11-6967-2720</a></p>
                </div>

            </div>
        </div>
    </footer>

    <script src="javascript/main.js"></script><!-- llamo al script para que funcione el menu -->
    <script src="javascript/QS.js"></script>
</body>

</html>